<%- include('components/header', { title: 'Database Informasjon' }) %>

<h2>Databaseoversikt</h2>
<p>Denne databasen består av følgende tabeller:</p>
<ul>
  <li><strong>Eier:</strong> Navn, unikt nummer (uuid), e-post, passord, kontaktspråk, telefonnummer</li>
  <li><strong>Flokk:</strong> Eier, flokk navn, serieinndeling, buemerke (navn & bilde)</li>
  <li><strong>Individuelt reinsdyr:</strong> Serienummer, navn, flokk, fødselsdato</li>
  <li><strong>Beiteområde:</strong> Det primære beiteområdet, fylke/fylkene området tilhører</li>
</ul>

<h3>ER-diagram</h3>
<div style="text-align: center;">
  <img src="images/ER-Diagram.png" alt="ER-diagram" class="img-fluid">
</div>

<h2>Nettverkskart</h2>
<ul>
  <li><strong>Database Server:</strong> 10.12.14.178</li>
  <li><strong>Backend Server:</strong> 10.12.14.179</li>
  <li><strong>DNS Server:</strong> 10.12.14.10</li>
  <li><strong>Nettverksadresse:</strong> 10.12.14.0/24</li>
  <li><strong>Gateway:</strong> 10.12.14.1</li>
</ul>
<br>

<h3>Prosjektskissering</h3>
<p>Se våre detaljerte prosjektskisser her: <a href="https://github.com/users/simontijanic/projects/9/views/1" target="_blank">GitHub Projects</a>.</p>

<%- include('components/footer') %>
