<%- include('components/header', { title: 'Database Informasjon' }) %>

<h2>Databaseoversikt</h2>
<p>Denne databasen består av følgende tabeller:</p>
<ul>
  <li><strong>Eier:</strong> Navn, unikt nummer (uuid), e-post, passord, kontaktspråk, telefonnummer</li>
  <li><strong>Flokk:</strong> Eier, flokk navn, serieinndeling, buemerke (navn & bilde)</li>
  <li><strong>Individuelt reinsdyr:</strong> Serienummer, navn, flokk, fødselsdato</li>
  <li><strong>Beiteområde:</strong> Det primære beiteområdet, fylke/fylkene området tilhører</li>
</ul>

<h3>ER-diagram</h3>
<div style="text-align: center;">
  <img src="images/ER-Diagram.png" alt="ER-diagram" class="img-fluid">
</div>

<h3>Nettverkskart</h3>
<div style="text-align: center;">
  <img src="images/Nettverkskart.png" alt="Nettverkskart" class="img-fluid">
</div>
<br>

<h3>Prosjektskissering</h3>
<p>Se dokumentasjon og prosjektskissering her: <a href="https://github.com/simontijanic/Tverrfaglig-Kukkik-Prosjekt" target="_blank">GitHub Projects</a>.</p>

<%- include('components/footer') %>
