<%- include('components/header', { title: 'Database Informasjon' }) %>

<div class="container text-center mt-5">
  <h1>Det oppstod en feil</h1>
  <p><%= errorMessage %></p>
  <a href="/" class="btn btn-primary">Tilbake til forsiden</a>
</div>

<%- include('components/footer') %>
